sequential/javascript/refrences
sequential/javascript/generated
using_mod/js/results
using_mod/js/node_modules
using_mod/js/generated
using_mod/js/test
using_mod/js/result
using_mod/js/output.png
project/python3/__pycache__
project/python/__pycache__
project/javascript/node_modules
project/javascript/generated