*node_modules
using_mod/js/result/
using_mod/js/output.png
using_mod/videoMaker/seq/vscode-profile*
using_mod/videoMaker/GoodVid/fake-0.mp3
using_mod/videoMaker/GoodVid/output.wav
using_mod/videoMaker/Second Way/plot.png
*.tar
*.tar.gz
using_mod/videoMaker/Second Way/old_generated/
using_mod/videoMaker/Second Way/lyrics_sampleold.txt
using_mod/videoMaker/Second Way/settingsold.json
SD/server/*.png
SD/server/*.jpeg
SD/server/body.txt
SD/tmp/
using_mod/videoMaker/Second Way/lyrics_sample.txt
