#canvas-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#clickable-image {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;

}

#canvas-container {
    background-color: grey;
    z-index: 2;
    user-select: none;
}

#inprogress {
    background-color: grey;
    z-index: 1000;
}

#genmore {
    z-index: 1000;

}

#Prompt {
    z-index: 1000;
}

#ImageFile {
    z-index: 1000;

}