#grid-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#mask-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#clickable-image {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;

}

.image-grid-element {
    z-index: -2;
    position: absolute;
    overflow: hidden;
}

#canvas-container {
    background-color: grey;
    z-index: 2;
    user-select: none;
}

#inprogress {
    background-color: grey;
    z-index: 1000;
}

#genmore {
    z-index: 1000;

}

#Prompt {
    z-index: 1000;
}

#ImageFile {
    z-index: 1000;

}

#toolbar-base {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 400px;
    background-color: slategray;
    border: 2px grey groove;
    z-index: 15;
    transition: ease-out 500ms 0ms height;

}

#selector {
    text-align: start;
    opacity: 100%;
    transition: ease-out 500ms 0ms opacity;

}

.toggleButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 2em;
    height: 2em;
    z-index: 20;
    cursor: pointer;
    user-select: none;
}

.toolSelectorButton {
    user-select: none;
}

#RadiusInput {
    width: 5em;
}

#OptionsMenu {
    transition: ease-out 500ms 0ms opacity;

}

#OptionsMenu {
    transition: ease-out 500ms 0ms opacity;

}

.slidecontainer {
    width: 90%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px; 
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    /* Set a specific slider handle width */
    /* Slider handle height */
    background: #222222;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%;
    /* Slider handle height */
    background: #222222;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}