server/out/
server/*.jpg
server/__pycache__/

# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# production
app/build

# misc

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
